<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941444510026-kqcmaelc7431cafvmoaup3opm2s5lp8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941444510026-kqcmaelc7431cafvmoaup3opm2s5lp8l</string>
	<key>API_KEY</key>
	<string>AIzaSyCPR7MxRtSqltsB8gxrInWABnQ0Ypo2cEc</string>
	<key>GCM_SENDER_ID</key>
	<string>941444510026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coolapp</string>
	<key>PROJECT_ID</key>
	<string>suitup-5bafb</string>
	<key>STORAGE_BUCKET</key>
	<string>suitup-5bafb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941444510026:ios:61225e4390f9d58df4d1b3</string>
</dict>
</plist>